body {
    font-family: sans-serif !important;
}

header {
    background-color: #093426;
    position: relative;
}

body {
    background-color: #79BEA8 !important;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    border-bottom: 2px solid #ffffff;
}

.footer {
    background-color: #093426;
}

.footer p {
    margin: 0;
}

.ids {
    font-family: serif;
    font-size: large;
    font-weight: bold;
    border: solid 1px #E7F3EF;
    color: #E7F3EF;
    font-style: italic;
    text-align: center;
    transition: 1.2s;
    padding: 0px 15px;
}

.ids:hover {
    color: #ffffff;
    transform: scale(1.2);
    cursor: pointer;
}

h2,
h6,
h4 {
    font-weight: bold;
    color: #E7F3EF;
}

.social-icon {
    display: inline-block;
    margin: 5px;
    font-size: 20px;
    color: #E7F3EF;
    transition: 0.3s;
}

.social-icon:hover {
    color: #ffffff;
    transform: scale(1.2);
}

.card {
    scroll-snap-align: center;
    position: relative;
}

.card img {
    object-fit: cover;
    height: 250px;
}

.card-item {
    min-width: 300px;
}

.slid {
    scroll-snap-type: x mandatory;
    gap: 1rem;
}

@media (max-width: 768px) {
    .card-item {
        min-width: 100%;
    }

    .card img {
        height: 300px;
    }

    .mar-footer {
        padding-top: 25px;
    }

    .card {
        margin-right: 10%;
        margin-left: 10%;
    }
}