* {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif, serif;
}

body {
    background-color: #79BEA8 !important;
}

h1 {
    font-family: 'times new roman', serif;
}

td,
th {
    border: 1px solid #ddd !important;
    padding: 15px !important;
}

th {
    text-align: center !important;
    font-weight: 800 !important;
}